@import 'tailwindcss';
@import '@fontsource-variable/noto-serif-kr';
@import '@fontsource/roboto/100.css';
@import '@fontsource/roboto/200.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';

@theme {
	/* Fontes */
	--font-display: 'Noto Serif KR Variable', serif;
	--font-body: 'Roboto', sans-serif;

	/* Pontos de quebra */
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: initial;

	/* Cores */
	--color-green-pea-50: #ecfdf8;
	--color-green-pea-100: #d1faee;
	--color-green-pea-200: #a7f3de;
	--color-green-pea-300: #6ee7c5;
	--color-green-pea-400: #34d3a6;
	--color-green-pea-500: #10b98a;
	--color-green-pea-600: #05966d;
	--color-green-pea-700: #047857;
	--color-green-pea-800: #065f46;
	--color-green-pea-900: #064e3a;
	--color-green-pea-950: #022c20;

	/* animação */
	--animate-spin-slow: spin 10s linear infinite;
}
@layer base {
	html,
	body {
		font-family: var(--font-body);
		scroll-behavior: smooth;
	}
	h1,
	h2,
	h3,
	h4 {
		font-family: var(--font-display);
	}
	h1 {
		@apply text-4xl md:text-5xl;
		@apply font-bold;
	}
	h2 {
		@apply text-2xl md:text-3xl;
		
	}
	h3 {
		@apply text-xl;
		@apply font-bold;
	}
	p {
		@apply text-base;
		@apply leading-relaxed;
		@apply opacity-80;
	}
}

@utility container {
	padding-inline: 1.5rem;
	margin-inline: auto;

	@variant sm {
		padding-inline: 3rem;
	}

	@variant md {
		padding-inline: 2rem;
	}

	@variant lg {
		padding-inline: 1.5rem;
	}
	@variant xl {
		padding-inline: 0;
	}
}

.backdrop-white {
	@apply bg-white/30 backdrop-blur-xl;
	@apply rounded-xl border border-white/30;
}
.backdrop {
	@apply bg-black/10 backdrop-blur-md;
	@apply rounded-xl border border-white/30;
}
